<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo5R4s_O8_K3hwj4NsP2bAYRpUVE4kV1I</string>
	<key>GCM_SENDER_ID</key>
	<string>894467316580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Project.FridgeFriend</string>
	<key>PROJECT_ID</key>
	<string>fridgefriend-2b067</string>
	<key>STORAGE_BUCKET</key>
	<string>fridgefriend-2b067.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894467316580:ios:ca68be6e4a973e2d6c7871</string>
</dict>
</plist>